<div class="jumbotron">
    <img src="~/Images/HomeBannerLogo.png" alt="voluntinder logo"/>
    <p class="lead">Find your charity match</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>Want to make a difference, want to find a way to help? Register today!</p>
        <p>@Html.ActionLink("Get started", "Login", "Account", new { area = ""}, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Look for Volunteers</h2>
        <p>Looking to help whether you are a charity or just looking to do good? Want to find people with the skills to help? Register to find volunteers to cater to all your needs</p>
        <p>@Html.ActionLink("Add your charity", "RegisterCharity", "Account", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Our mission</h2>
        <p>
            voluntinder is designed to bring charities and volunteers together with minimum fuss. Quickly match your skill set with local charities looking for someone with your abilities.
        </p>
    </div>
</div>