<div class="jumbotron">
    <img src="~/Images/HomeBannerLogo.png" alt="voluntinder logo"/>
    <p class="lead">Find your charity match</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>Looking to make a difference in your local community? Simply log in, add your skills and get volunteering!</p>
        <p>@Html.ActionLink("Get started", "Login", "Account", new { area = ""}, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Look for Volunteers</h2>
        <p>Looking for people to do your bidding (for good, obviously)? Register your charity and get people involved!</p>
        <p>@Html.ActionLink("Add your charity", "RegisterCharity", "Account", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Our mission</h2>
        <p>
            voluntinder is designed to bring charities and volunteers together with minimum fuss. Quickly match your skill set with local charities looking for someone with your abilities.
        </p>
    </div>
</div>