@model Voluntinder.Models.SkillModels
@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>
<p>
    Here you can add skills so we can find the most suited charities for you!
</p>
@using (Html.BeginForm("Save", "Skills", FormMethod.Post))
{
    <fieldset>
        @foreach (var skill in @Model.Skills)
        {
            <div class="checkbox">
                <label>
                    <input id="skill-@skill.SkillId" type="checkbox" name="selectedObjects" value="@skill.SkillId" @{if (skill.HasSkill) { <text> checked="checked" </text> }} /> @skill.SkillName
                </label>
            </div>
        }
        <input class="btn btn-primary" type="submit" value="Update" />
    </fieldset>
}