@model Voluntinder.Models.SkillModels
@{
    ViewBag.Title = "skills";
}

<h2>skills</h2>

<p>
    Here you can add skills so we can find the most suited charities for you!
</p>

@foreach (var skill in @Model.Skills)
    {
         if(skill.HasSkill == true)
         {
            <span><input type="checkbox" name=@skill.SkillName value=@skill.SkillId checked/>skill.SkillName</span>
         }
         else
         {
            <span><input type="checkbox" name=@skill.SkillName value=@skill.SkillId/>skill.SkillName</span>
         }
    }