<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/VoluntinderModel.csdl|res://*/VoluntinderModel.ssdl|res://*/VoluntinderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:voluntinder.database.windows.net,1433;initial catalog=voluntinder_db;user id=brighthr@voluntinder;password=Appleapple1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>