@model Voluntinder.Controllers.MatchViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

@for (var index = 0; index < Model.Users.Count; index++)
{
    var user = Model.Users[index];
    <div class="row">
        <div id="user-@index" class="col-md-12">
            <h2>@user.Email</h2>
            <ul>
                @foreach (var skill in user.Skills)
                {
                    <li>@skill</li>
                }
            </ul>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/iscroll")
}