@model Voluntinder.Models.MatchViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

<div id="profiles" class="row">
    @for (var index = 0; index < Model.Pairing.Count; index++)
    {
        var user = Model.Pairing[index];
        <div class="profile" id="user-@index" class="col-md-12">
            <h2>@user.Email</h2>
            <ul>
                @foreach (var skill in user.skills_list)
                {
                    <li>@skill</li>
                }
            </ul>
        </div>
    }
    <div id="done" class="col-md-12">
        <h4>Done! Update your skills or try again later for more matches</h4>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/iscroll")

    <script type="text/javascript">
        var profiles = $('.profile');
        var currentIndex = 0;
        $(profiles[currentIndex]).addClass('current');

        function acceptProfile() {
            moveProfile('accept');
        }

        function rejectProfile() {
            moveProfile('reject');
        }

        function moveProfile(classToAdd) {
            $(profiles[currentIndex]).addClass(classToAdd).toggleClass('current');
            $(profiles[currentIndex + 1]).toggleClass('current');

            currentIndex = currentIndex + 1;
            if (currentIndex == profiles.length) {
                $('#done').addClass('current');
            }
        }

        $(profiles).swipeleft(rejectProfile);
        $(profiles).swiperight(acceptProfile);

        iscroll = new iScroll('profiles', { hScrollbar: false, vScrollbar: false });
    </script>
}