@model  IEnumerable<Tweetinvi.Core.Interfaces.ITweet>

@if (Model.Any())
{
    <div class="tweets">
        <h4>Latest Tweets</h4>
        <ul>
            @foreach (var tweet in Model)
            {
                <li>@tweet.CreatedAt.ToString("ddd, d M yyyy"): @tweet.Text</li>
            }
        </ul>
    </div>
}