@font-face {
  font-family: 'ChaletParisNineteenSixty';
  src: url('/fonts/ChaletParisNineteenSixty.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ChaletParisNinteenSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ChaletParisNineteenSixty.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ChaletParisNineteenSixty.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'ChaletNewYorkNineteenSeventy';
  src: url('/fonts/ChaletNewYorkNineteenSeventy.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ChaletNewYorkNineteenSeventy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ChaletNewYorkNineteenSeventy.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ChaletNewYorkNineteenSeventy.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
    font-family: 'ChaletParisNineteenSixty', Fallback, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'ChaletNewYorkNineteenSeventy', Fallback, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
