@font-face {
  font-family: 'ChaletParis';
  src: url('/fonts/Chalet-ParisNineteenSixty.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Chalet-ParisNinteenSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Chalet-ParisNineteenSixty.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Chalet-ParisNineteenSixty.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Chalet-ParisNineteenSixty.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ChaletNewYork';
  src: url('/fonts/Chalet-NewYorkNineteenSixty.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Chalet-NewYorkNineteenSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Chalet-NewYorkNineteenSixty.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Chalet-NewYorkNineteenSixty.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Chalet-NewYorkNineteenSixty.svg') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'ChaletParis', Fallback, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ChaletNewYork', Fallback, sans-serif;
    text-transform: lowercase;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content:focus {
    outline: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image:url(/images/HomeBannerBackground.jpg);
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron img {
    margin-bottom: 20px;
}

.jumbotron .lead {
    color: #FFFFFF;
    -ms-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
}

.fakeLink {
    border: 0;
    background-color: transparent;
    color: #777777;
    cursor: pointer;
    padding: 10px 15px;
    line-height: 20px;
    margin-top: 5px;
}

.fakeLink:focus {
    outline: 0;
}

.fakelink:hover, .fakeLink:focus {
    text-decoration: underline;
    color: #333333;
}

.fakeLink .fa-twitter:before {
    color: #4099FF;
}

@media (max-width: 600px) {
    .jumbotron img {
        width: 100%;
    }

    .jumbotron .lead {
        display: none;
    }
}

.btn-twitter {
    color: white;
    background-color: #4099FF;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.profile, .tweets {
    max-width: 400px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #D1D1D1;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.profile {
    padding: 0;
 }

.profile, #done, #nomatches {
    display: none;
}

.profile.current, #done.current, #nomatches.current, .profile.full, .tweets {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.profile img {
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.profile .details {
    padding: 10px;
    overflow: hidden;
}

.profile .details p {
    clear: both;
}

.profile .details span {
    font-weight: bold;
}

.profile .details .name {
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.profile .details .username {
    font-size: 18px;
    float: right;
    padding-top: 10px;
}

.profile .details ul.skills {
    margin: 0;
    padding: 0;
}

.profile .details ul.skills li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid #FF7854;
    background-color: #FFBCAA;
    border-radius: 5px;
}

.profile .actions {
    overflow: hidden;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.profile .actions a {
    border-style: solid;
    border-color: #D1D1D1;
    border-radius: 50%;
    margin-left: -5px;
    margin-right: -5px;
    cursor: pointer;
}

.profile .actions a.reject, .profile .actions a.accept {
    border-width: 5px;
}

.profile .actions a.reject {
    color: #FF7854;
    padding:0px 8px;
    font-size: 50px;
}

.profile .actions a.accept {
    color: #62DD9C;
    padding: 8px 10px 5px;
    font-size: 40px;
}

.profile .actions a.info {
    color: #298EF6;
    border-width: 5px;
    padding: 4px 13px;
    font-size: 24px;
    margin-top: -15px;
}

.tweets {
    padding: 5px;
}

.tweets h4 {
    margin-left: 5px;
}

.tweets ul li {
    list-style: none;
}

.tweets ul li:before {
    content: "\f099";
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
}

.tweets ul li .date {
    font-weight: bold;
}

.navbar li a.navbar-profile {
    padding: 0;
}

.navbar li a.navbar-profile img {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}