@font-face {
  font-family: 'ChaletParis';
  src: url('/fonts/Chalet-ParisNineteenSixty.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Chalet-ParisNinteenSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Chalet-ParisNineteenSixty.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Chalet-ParisNineteenSixty.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Chalet-ParisNineteenSixty.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ChaletNewYork';
  src: url('/fonts/Chalet-NewYorkNineteenSixty.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Chalet-NewYorkNineteenSixty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Chalet-NewYorkNineteenSixty.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Chalet-NewYorkNineteenSixty.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Chalet-NewYorkNineteenSixty.svg') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'ChaletParis', Fallback, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ChaletNewYork', Fallback, sans-serif;
    text-transform: lowercase;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image:url(/images/HomeBannerBackground.jpg);
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron img {
    margin-bottom: 20px;
}

.jumbotron .lead {
    color: #FFFFFF;
    -ms-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
}

.fakeLink {
    border: 0;
    background-color: transparent;
    color: #777777;
    cursor: pointer;
    padding: 10px 15px;
    line-height: 20px;
    margin-top: 5px;
}

.fakeLink:focus {
    outline: 0;
}

.fakelink:hover, .fakeLink:focus {
    text-decoration: underline;
    color: #333333;
}

.fakeLink .fa-twitter:before {
    color: #4099FF;
}

@media (max-width: 600px) {
    .jumbotron img {
        width: 100%;
    }

    .jumbotron .lead {
        display: none;
    }
}

.btn-twitter {
    color: white;
    background-color: #4099FF;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@-webkit-keyframes slideDown{
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown{
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile, #done {
    display: none;
}

.profile.current, #done.current {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.profile img {
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.profile .more {
    display: none;
}

.profile .more.expanded {
    display: block;
    -webkit-animation-name: slideDown;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideDown;
    -ms-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}