@model Voluntinder.Models.ProfileViewModel 
@{
    ViewBag.Title = Model.UserName + " Profile Page";
    var showTweets = Model.Tweets.Any();
    var colNum = showTweets ? 6 : 12;
}

<div class="row">
    <div class="col-md-@colNum">
        @Html.Partial("_Profile", Model)
    </div>
    @if (showTweets)
    {
        <div class="col-md-@colNum">
            @Html.Partial("_Tweets", Model.Tweets)
        </div>
    }
</div>