@model Voluntinder.Models.ProfileViewModel 
@{
    ViewBag.Title = Model.UserName + " Profile Page";
    var handle = "@" + Model.UserName;
}

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_Profile", Model)
    </div>
    <div class="col-md-6">
        @Html.Partial("_Tweets", Model.Tweets)
    </div>
</div>